body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:black;
  background-image: url('src/dancefloor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px;
  font-family: sans-serif;
  font-color: black;
  }
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}


audio.song {
  display: none;
}

#image{
  width: 80px;
  height: auto;
}


/*=======Animation - pawned it off webdeveloperjuice :)==========*/
@-webkit-keyframes oscillation
{
  from{
    -webkit-transform:rotate(-9deg);
  }
  to{
    -webkit-transform:rotate(9deg);
  }
}
 
@-moz-keyframes oscillation
{
  from{
    -moz-transform:rotate(-9deg);
  }
  to{
    -moz-transform:rotate(9deg);
  }
}

.oscillate{  
  -webkit-transform-origin:50% 80px;  
  -moz-transform-origin:50% 80px;   
  -webkit-animation: oscillation 0.2s ease-in-out infinite alternate;
  -moz-animation: oscillation 0.2s ease-in-out infinite alternate;
  width: 200px; 
  height:110px;
  /*optional*/
  z-index:1;
  position:absolute;
  top:217px;
  left:83px;
}

#bodyGif {
  position: absolute;
  top:250px;
  left: 45px;
  width: 150px;
  height: auto;
  z-index: 0;
}

/*input {
  background-color: silver;
}
*/

.box {
  display: none;
  margin: auto;
  width: 300px;
  height: 50px;

}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wrapper {
  height: 60px;
}

.button-bar{
  
}
